[submodule "engine/libraries/glfw-3.4"]
	path = engine/libraries/glfw-3.4
	url = https://github.com/glfw/glfw.git
[submodule "engine/libraries/glm-1.0.1"]
	path = engine/libraries/glm-1.0.1
	url = https://github.com/g-truc/glm.git
[submodule "engine/libraries/stbimage"]
	path = engine/libraries/stbimage
	url = https://github.com/nothings/stb.git
[submodule "engine/libraries/tinyobjloader"]
	path = engine/libraries/tinyobjloader
	url = https://github.com/tinyobjloader/tinyobjloader.git
