# Build directories
build/
bin/

# Vulkan SDK config (spécifique à chaque machine)
.env

# Executables
*.exe

# Visual Studio / CMake générés
.vs/
CMakeFiles/
CMakeCache.txt

# Fichiers temporaires
*.tmp
*.log

commandes.txt
links.txt